<div class="container">
    <div class="row">
      <div class="column">
        <div class="box">
          <img src="assets/course1.jpg" alt="Course 1" class="course-image">
          <h3>Course 1</h3>
          <p>Short description of Course 1.</p>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <img src="assets/course2.jpg" alt="Course 2" class="course-image">
          <h3>Course 2</h3>
          <p>Short description of Course 2.</p>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <img src="assets/course3.jpg" alt="Course 3" class="course-image">
          <h3>Course 3</h3>
          <p>Short description of Course 3.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="box">
          <img src="assets/course4.jpg" alt="Course 4" class="course-image">
          <h3>Course 4</h3>
          <p>Short description of Course 4.</p>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <img src="assets/course5.jpg" alt="Course 5" class="course-image">
          <h3>Course 5</h3>
          <p>Short description of Course 5.</p>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <img src="assets/course6.jpg" alt="Course 6" class="course-image">
          <h3>Course 6</h3>
          <p>Short description of Course 6.</p>
        </div>
      </div>
    </div>
  </div>
  